<!DOCTYPE html>
<html lang="en">

@include('partials/head')

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="dashboard/images/logo.png" alt="logo">
              </div>
              <h4>Cadastro</h4>
              <h6 class="fw-light">Todos os campos são obrigatórios</h6>
              <form class="pt-3" action="{{ route('auth.register') }}" method="POST">
                <div class="form-group">
                  @if (flashMessages.has('errors.email'))
                    <small style="color: red;">
                      {{ flashMessages.get('errors.email') }}:
                    </small>
                  @endif
                  <input type="email" class="form-control form-control-lg" placeholder="Email" name="email" value="{{ flashMessages.get('email') ?? '' }}">
                </div>

                <div class="form-group">
                  @if (flashMessages.has('errors.nome'))
                    <small style="color: red;">
                      {{ flashMessages.get('errors.nome') }}:
                    </small>
                  @endif
                  <input type="text" class="form-control form-control-lg" placeholder="Nome completo" name="nome" value="{{ flashMessages.get('nome') ?? '' }}">
                </div>

                <div class="form-group">
                  @if (flashMessages.has('errors.cpf'))
                    <small style="color: red;">
                      {{ flashMessages.get('errors.cpf') }}:
                    </small>
                  @endif
                  <input type="text" class="form-control form-control-lg" placeholder="CPF" name="cpf" value="{{ flashMessages.get('cpf') ?? '' }}">
                </div>

                <div class="form-group">
                  @if (flashMessages.has('errors.oab'))
                    <small style="color: red;">
                      {{ flashMessages.get('errors.oab') }}:
                    </small>
                  @endif
                  <input type="text" class="form-control form-control-lg" placeholder="OAB" name="oab" value="{{ flashMessages.get('oab') ?? '' }}">
                </div>

                <div class="form-group">
                  @if (flashMessages.has('errors.password'))
                    <small style="color: red;">
                      {{ flashMessages.get('errors.password') }}:
                    </small>
                  @endif
                  <input type="password" class="form-control form-control-lg" placeholder="Senha" name="password" value="{{ flashMessages.get('password') ?? '' }}">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">CADASTRAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @include('partials/scripts')
</body>

</html>
