<!DOCTYPE html>
<html lang="en">

@include('partials/head')

<body>
    <div class="container-scroller">
        @include('partials/topbar')
        @include('partials/navbar')
        Registrar Empregado
    </div>

    @include('partials/scripts')
</body>